/*GENERALES*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, li, ul, div, footer, nav, table,span, img,a,h1,h2,h3,h4,p{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #eee;
    font-family: 'Montserrat', sans-serif;
    --naranja: #FFBD59;
    --verde: #032B30;
    --grisfuerte: #788384;
    --grisclaro: #D1D8D0;
    --azul: #A0C4CC;
    --naranjaburbujas: rgba(255, 189, 89, 0.78);
    overflow-x: hidden;
}
/*----*/

.navbar {
    width: 100dvw;
    height: 13dvh;
    background-color: var(--naranja);
    display: flex;
    justify-content: space-around;
    align-items: center;
    filter: drop-shadow(0 4px 10px #0005);
}

.navbar__image img {
    width: 6dvw;        
    height: auto;        
    filter: drop-shadow(0 4px 10px #0005);
    cursor: pointer;
}

.navbar__buscador {
    width: 42dvw;
}

.navbar__buscador > input {
    width: 100%;
    margin: 2px;
    border-radius: 20px;
    padding: 5px 10px;
    font-family: 'Montserrat';
    height: 4.8dvh;
}


.navbar__link > a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 1em;
}

.navbar__link a img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.navbar__link:hover{
    text-decoration: underline; 
}

.post{
    border-right: 3px solid black;
}

.fondo__post {
    height: calc(100dvh - 13dvh);
    background: linear-gradient(to bottom, rgba(255, 189, 89, 0.5), white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper__post {
    background-color: #D9D9D9;
    height: 79dvh;
    width: 82dvw;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
}

.post{
    width: 36dvw;
    height: 100%;
}

.post__title {
    letter-spacing: 10px;
    font-weight: 400;
    background-color: transparent
}

.posttitle__wrapper{
    background-color: var(--naranja);
    width: 100%;
    height: 8dvh;
    text-align: center;
    text-align: center;
    border: 1px solid black;
    border-right: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8vw;
    filter: drop-shadow(0 4px 10px #0005);
}

.post__profile{
    height: 10dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.post__profile--img {
    position: absolute;
    width: 4vw;          
    height: 4vw;         
    border-radius: 50%;    
    object-fit: cover;    
    left: 11.5%;
    z-index: 1;
    object-fit: cover; 
}

.post__profile--name{
    background-color: white;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    padding: 3vh;
    width: 85%;
    text-align: center;
    margin: 50px 0;
    font-size: 0.95vw;
    filter: drop-shadow(0 4px 10px #0005);
    z-index: 0;
    overflow-y: auto;
    overflow-x: auto;
}

.post__infoperro1{
    height: 35dvh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.post__infoperro1--image{
    height: 32vh;          
    width: 13vw;             
    object-fit: cover; 
    border-radius: 50px;
    margin-right: 1dvw;
}

.post__infoperro1--content{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    width: 16dvw;
    height: 32vh;
    background-color: #EEE;
    padding: 0 2vw;
    border-radius: 20px;
    overflow-y: auto;
    overflow-x: auto;
}

.post__infoperro2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    height: 23dvh;
    width: 30dvw;
    margin: 0 3vw;
    background-color: var(--azul);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow-y: auto;
    overflow-x: auto;
}

.post__infoperro2--descriptiontitle{
    font-weight: 400;
    font-size: 16px;
}

.post__infoperro2--description{
    background-color: #EEEEEE;
    width: 90%;
    border-radius: 20px;
    font-size: 0.9em;
    padding: 1vw;
    height: 15vh;
    max-height: 15vh;
    overflow-y: auto;
    overflow-x: auto;
}

.post__infoperro2--descriptiontitle1{
    width: 90%;
    text-align: start;
    padding: 1vh;
}

.chat{
    width: 46dvw;
    height: 100%;
}

.chat__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.posttitle__wrapper--chat{
    background-color: var(--naranja);
    width: 100%;
    height: 8dvh;
    text-align: center;
    text-align: center;
    border: 1px solid black;
    border-right: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8vw;
    filter: drop-shadow(0 4px 10px #0005);
}

.post__title--chat{
    letter-spacing: 10px;
    font-weight: 400;
    background-color: var(--naranja);
}

.chat__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 67dvh;
    width: 100%;
    margin-top: 1.5vh;
}

.chat__wrapper--fondo{
    background-color: var(--azul);
    border-top-left-radius: 20px;
    width: 90%;
    height: 65dvh;
    overflow-y: auto;
    overflow-x: auto;
}

.chat__buttonEnviar{
    width: 90%;
    text-transform: uppercase;
    padding: 3vh 0;
    font-size: 1vw;
    letter-spacing: 5px;
    border-bottom-right-radius: 20px;
    margin: none;
    outline: none;
    cursor: pointer;
    background-color: var(--naranja);
    border: 1px solid var(--naranja);
}

.send-button {
    width: 8vh;
    height: 8vh;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;   
    overflow: hidden;
}

.send-icon {
    width: 50%;
    height: 50%;
    object-fit: contain;
    position: absolute; 
    transition: opacity 0.5s ease;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
}

.send-icon.normal {
    opacity: 1;
}

.send-icon.hover {
    opacity: 0;
}

.send-button:hover .normal {
    opacity: 0;
}

.send-button:hover .hover {
    opacity: 1;
}

.chat__msg{
    width: 19vw;
    height: fit-content;
    padding: 10px 10px;
    padding-left: 35px;
    filter: drop-shadow(0 2px 10px #0005);
    margin: 3vh;
    border-radius: 20px;
}

.chat__form{
    width: 90%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    border-bottom-right-radius: 20px;
}

.chat__input{
    width: 90%;
    border: none;
    resize: none;
    overflow-y: auto;
    overflow-x: auto;
    font-family: 'Montserrat';
    height: 10vh;
    font-size: 1vw;
    padding: 2vh;
}

.chat__input:focus{
    outline: none;
    border: none;
}

.msgRecibido{
    background-color: var(--naranja);
}

.msgEnviado{
    background-color: var(--grisclaro);
    margin-left: auto; 
}

footer {
    width: 100dvw;
    height: fit-content;
    background-color: var(--verde);
}

.footer__icons{
    height: 100px;
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
    justify-content: space-between;
    align-items: center;
    margin: 0 55px;
    border-bottom: 3px solid black;
}

.footer__icons img{
    height: 71px;
    width: 100px;
    filter: grayscale(100%) opacity(0.04);
}

.footer__icon--white {
    max-width: 65%;    
    height: auto;       
    filter: grayscale(100%);
}

.footer__href{
    margin: 50px 0;
    display: flex;
    align-items: start;
}

.footer__links--itemtitle {
    color: #A1EDB8;
    font-weight: 600;
    margin: 10px 0;
    list-style: none;
}

.footer__links--item > a{
    text-decoration: none;
    color: #fff;
    font-size: 0.9em;
    margin: 10px 2px;
    font-weight: 100;
}

.footer__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
    justify-items: center;                                       
    align-items: center;                                         
    width: 100%;                                                 
    gap: 20px;                                                     
}

.footer__content > .footer__href{
    align-items: start;
}

.footer__links--item{
    color: #fff;
    list-style: none;
    margin: 7px 0;
    text-wrap: pretty;
    font-weight: 100;
}

.footer__copyright{
    color: #fff;
    font-weight: 900;
    margin: 10px 0;
    width: 100%;
    height: 20dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
}

.footer__copyright span {
    color: #A1EDB8;
    margin: 0 3px;
}

.linkreporte {
    margin-left: 10px;
}

.linkreporte::before {
    content: '■';
    margin-left: 13px;
    font-size: 15px;
}

.wrapper__footerlinks {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    align-items: start;                  
    justify-items: center;               
    width: calc(75% - 116px);            
    gap: 20px; 
}

#mapa {
    width: 90%;
    height: 90%;
    display: flex;
    align-self: center;
    justify-self: center;
}
