*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, li, ul, div, footer, nav, table {
    padding: 0;
    margin: 0;
}

body{
    background-color: #eee;
    font-family: 'Montserrat';
    --naranja: #FFBD59;
    --verde: #032B30;
    --grisfuerte: #788384;
    --grisclaro: #D1D8D0;
    --azul: #A0C4CC;
    --naranjaburbujas: rgba(255, 189, 89, 0.78);
}

.wrapper__principal {
    height: 100dvh;
    width: 100dvw;
}

.mainpagelogo {
    position: absolute;
    width: 262px;
    filter: drop-shadow(0 4px 10px #0005);
    z-index: 20;
}

.wrapper__principal--burbujas{
    height: 100%;
    width: 100%;
    border: 1px solid black;
}

.burbujas {
    background-color: var(--naranjaburbujas);
    clip-path: circle(50% at 50% 50%);
    position: absolute;
    z-index: 10;
}

.littlebubble {
    width: 115px;
    height: 115px;
}

.midbubble {
    width: 205px;
    height: 205px;
}

.largebubble {
    width: 315px;
    height: 315px;
}

.littlebubble1 {
    left: 182px;
    bottom: 754px;
}

.midbubble1{
    left: 114px;
    bottom: 436px;
}

.largebubble1 {
    width: 205px;
    height: 205px;
    left: 136px;
    bottom: 125px;
}

.largebubble2{
    left: 387px;
    bottom: 586px;
}

.midbubble2{
    left: 501px;
    bottom: 302px;
}

.littlebubble2{
    left: 481px;
    bottom: 93px;
}

.littlebubble3{
    left: 802px;
    bottom: 733px;
}

.littlebubble4 {
    left: 852px;
    bottom: 340px;
}

.littlebubble5{
    left: 960px;
    bottom: 112px;
}

.littlebubble6{
    left: 1128px;
    bottom: 706px;
}

.largebubble3{
    left: 1166px;
    bottom: 381px;
}

.midbubble3{
    left: 1278px;
    bottom: 100px;
}

.largebubble4{
    left: 1470px;
    bottom: 580px;
}

.midbubble4{
    left: 1653px;
    bottom: 300px;
}

.littlebubble7{
    width: 123px;
    height: 123px;
    left: 1630px;
    bottom: 115px;
}

.wrapper__content {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: red;
}